:root {
  --buttonWidth: 0px;
  --buttonHeight: 0px;
}

/* p.relativeNoteNumbers {
  display: var(--relativeNoteNumbers);
} */

#buttons {
  position: relative;
}

#buttons button {
  position: absolute;
  width: calc(-4px + var(--buttonWidth));
  height: var(--buttonHeight);
}

button.row1 {
  background-color: #fffcb0;
}

button.row2 {
  background-color: #89cff0;
}

button.row3 {
  background-color: #afe1af;
}
